<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/styles.css">
    <title>Homepage - Rest API</title>
</head>

<body>

    <button id="bttModal">?</button>

    <div id="myModal" class="modal">

        <div class="modal-content">
            <span class="close">&times;</span>
            <ul>
                <p>
                    <li>
                        <h2>Full Tor list</h2>
                    </li>Return a list of Tor network ip addresses.
                </p>
                <p>
                    <li>
                        <h2>Filtered Tor list</h2>
                    </li>Return a list of Tor network ip addresses excluding the ip addresses in the database.
                </p>
                <p>
                    <li>
                        <h2>Post an IP</h2>
                    </li>Allows you to insert an ip address in the database to filter the Tor list.<br>
                        <strong>How to post a single IP:</strong><br> To post a single ip address into the database, just simply write it in the input located at the bottom of the 'Post an IP' button.<br>
                        <strong>How to post multiples  IPs:</strong><br>If you want to post multiples ip addresses at a single time you will need to write then whith a json file syntax such as:<br>
                        <span>[{"ip_address": "176.178.13.16"}, {"ip_address": "10.0.2.36"}]</span>
                </p>
            </ul>
        </div>

    </div>
    <div class="body_component">
        <div class="wrapper">
            <div class="img_bg">
                <div class="img_content">
                    <h1><strong>Proof API</strong> allows you to manipulate and get lists of Tor network ip addresses.
                    </h1>
                </div>
            </div>
            <div class="content">
                <div class="routes">
                    <h1>Routes</h1>
                    <button class="btt" id="btt1"><a href="http://localhost:5000/get_tor">FULL TOR LIST</a></button>
                    <button class="btt" id="btt2"><a href="http://localhost:5000/get_tor_filtered">FILTERED TOR
                            LIST</a></button>
                    <button class="btt" id="btt3">POST AN IP</a></button>
                    <input placeholder="Ex: 192.168.0.1" type="text" name="ip_address" id="ip">
                </div>
                
            </div>
        </div>
    </div>
    <footer id="notification">
        <div id="notification_content">
            <p id="notification_text">Request complete!<br>Ip successfully registered.</p>
        </div>
    </footer>
    <script src="/css/home_function.js"></script>
</body>

</html>